@model PagedResult<KooliProjekt.Data.Match>

@(await Component.InvokeAsync<PagerViewComponent>(Model))

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Tournament </th>
            <th> Team1 </th>
            <th> Team2 </th>
            <th> Match_time </th>
            <th> Round </th>
            <th> Team1_goals </th>
            <th> Team2_goals </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td> @item.Tournament</td>
            <td> @item.Match_time </td>
            <td> @item.Round </td>
            <td> @item.Team1_goals </td>
            <td> @item.Team2_goals </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model))